.header-mobile {
	background-color: #003838;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-img {
	flex-basis: 184px;
	height: 29px; }

#touch {
	background: url("../../img/bur.png") no-repeat 50% 50%;
	flex-basis: 50px;
	height: 50px;
	padding: 10px;
	position: relative;
	border: none; }

.btn-phone {
	background:  url("../../img/contact-24.png") no-repeat 50% 50%;
	flex-basis: 50px;
	height: 50px;
	padding: 10px;
	border: none; }

.drop-menu {
	position: absolute;
	width: 100%;
	z-index: 1;
	display: none;
	top: 50px;
	left: 0;
	background-color: #003838;
	
	font-size: 18px;
	font-weight: 500;
	height: 612px;	 }

.drop-menu a {
	display: inline-block;
	width: 100%;
	padding: 15px; }
.drop-menu li {border-top: 2px solid #002c2c;}

.info {
	background-color: #003838;
	padding: 25px 15px 15px 15px;
	color: white;
	font-family: serif;
	border-top: 2px solid #002c2c; }

/*.phone:before {
	content: url('../../img/Contact-24.png'); }*/
.phone { display: block; }
.map-office a { 
	display: inline;
	padding: 0px;
	font-size: 14px; } 

.icon {
	height: 16px;
	width: 16px;
	background-color: red;
	display: inline-block; }

.icon-phone {
	background: url(../../img/phone.png) no-repeat 50% 50%; }

.icon-map {
	background: url("../../img/marker.png") no-repeat 50% 50%; }

.lang {
	padding: 15px;
	color: #576f6c;
	font-size: 12px;
	background-color: #002c2c;
}

.bottom-menu {
	height: auto;
	background-color: #003838;}

/* дроп подменю */

.drop-menu.child {
	top: 0;
	z-index: 2;
	height: 612px; }
.drop-menu.child-q {
	top: 0;
	left: 0;
	z-index: 3;
	height: 612px;
}

.drop-list {
	display: flex;
	justify-content: space-between;
	align-items: space-around; }

.drop-menu .link-and-drop {
	width: 85%; }

.btn-drop {
	margin-left: 2px;
	display: inline-block;
	width: 15%;
	border: none;
	border-left: 2px solid #002c2c;
	background: #003838 url(../../img/arrow.svg) no-repeat 50% 50%; }

.two-menu { 
	display: none;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	top: 50px;
	background-color: #002c2c; }

.btn-back {
	background-color: #003838;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 12px;
	color: #C8AF79;
	font-weight: 100;
	display: flex;
	align-items: space-around; }

.arrow {
	transform: rotate(180deg);
 	display: inline-block;
 	width: 30px;
 	background: url("../../img/arrow.svg") no-repeat 50% 50%;}
