mixin header-mobile()
	header.header-mobile.bem.is-hide-desktop&attributes(attributes)
		// Пиши разметку сюда
		button(id="touch" onclick="OpenMenu()") 
		nav.drop-menu
			ul.one-drop
				li(class="drop-list")
					a(href="#" class="link-and-drop") О компании
					button(class="btn-drop" onclick="NextMenu(1)")
					ul(class="drop-menu child")
						li
							div( class="btn-back" onclick="PreviousMenu(1)")
								i.arrow
								| О компании
						li(class="drop-list")
							a(href="#" class="link-and-drop") О нас
							button(class="btn-drop" onclick="NextMenu(2)")
							ul(class="drop-menu child")
								li
									div( class="btn-back" onclick="PreviousMenu(2)")
										i.arrow
										| О нас
								li
									a(href="#" class="link-and-drop") История компании									
								li
									a(href="") Признание и награды
								li
									a(href="#") Философия бизнеса
								li 
									a(href="#") Социальная ответственность
								li
									a(href="#") Преимущества
								div.info
									span.phone
										i(class="icon icon-phone")
										span 8 (495) 956-29-92
									span.map-office
										i(class="icon icon-map")
										a Сеть региональных офисов
								div.lang In English
								div.bottom-menu
						li(class="drop-list")
							a(href="" class="link-and-drop") Филиалы
							button(class="btn-drop" onclick="NextMenu(3)")
							ul(class="drop-menu child")
								li
									div( class="btn-back" onclick="PreviousMenu(3)")
										i.arrow
										| Филиалы
								li
									a(href="#") Москва			
								li
									a(href="") Нижний Новгород
								li
									a(href="#") Киров
								li 
									a(href="#") Тверь
								li
									a(href="#") Самара
								li
									a(href="#") Махачкала	
								div.info
									span.phone
										i(class="icon icon-phone")
										span 8 (495) 956-29-92
									span.map-office
										i(class="icon icon-map")
										a Сеть региональных офисов
								div.lang In English
								div.bottom-menu
						li
							a(href="#") Проекты
						li 
							a(href="#") Клиенты
						li(class="drop-list")
							a(href="#" class="link-and-drop") Галерея
							button(class="btn-drop" onclick="NextMenu(4)")
							ul(class="drop-menu child")
								li
									div( class="btn-back" onclick="PreviousMenu(4)")
										i.arrow
										| Галерея
								li
									a(href="#") Фотогалерея			
								li
									a(href="") Видеогалерея
								div.info
									span.phone
										i(class="icon icon-phone")
										span 8 (495) 956-29-92
									span.map-office
										i(class="icon icon-map")
										a Сеть региональных офисов
								div.lang In English
								div.bottom-menu
						div.info
							span.phone
								i(class="icon icon-phone")
								span 8 (495) 956-29-92
							span.map-office
								i(class="icon icon-map")
								a Сеть региональных офисов
						div.lang In English
						div.bottom-menu
				li(class="drop-list") 
					a(href="#" class="link-and-drop") Команда					
				li(class="drop-list") 
					a(href="#") Инфоцентр
				li 
					a(href="#") Правовое сопровождение и защита бизнеса
				li 
					a(href="#") Представление интересов физических лиц
				li 
					a(href="#") Мероприятия
				li(class="drop-list") 
					a(href="#" class="link-and-drop") Контакты
					button(class="btn-drop" onclick="NextMenu(5)")
					ul(class="drop-menu child")		
						li
							div( class="btn-back" onclick="PreviousMenu(5)")
								i.arrow
								| Контакты
						li
							a(href="#") Москва			
						li
							a(href="") Нижний Новгород
						li
							a(href="#") Киров
						li 
							a(href="#") Тверь
						li
							a(href="#") Самара
						li
							a(href="#") Махачкала
						div.info
							span.phone
								i(class="icon icon-phone")
								span 8 (495) 956-29-92
							span.map-office
								i(class="icon icon-map")
								a Сеть региональных офисов
						div.lang In English
						div.bottom-menu					
				div.info
					span.phone
						i(class="icon icon-phone")
						span 8 (495) 956-29-92
					span.map-office
						i(class="icon icon-map")
						a Сеть региональных офисов
				div.lang In English
				div.bottom-menu
		img(src="../../img/header-mobile.png" class="logo-img")
		div.btn-phone
		script(src="header-mobile.js")
		